In [1]:
import pandas as pd 

file_kaks = './Ah2Ah.collinearity.kaks'

df_kaks   = pd.read_csv(file_kaks,sep='\t',comment='#',header=None)

file_bo   = '../blast/aha_v2_final.pep.fa.2.Athaliana_167_TAIR10.protein.fa.na1.ev1e5.out7'
df_bo     = pd.read_csv(file_bo,sep='\t',comment='#',header=None)

file_annot = '/storage/References/Athaliana/annotation/Athaliana_167_TAIR10.annotation_info.txt'
df_annot   = pd.read_csv(file_annot,sep='\t',comment='#',header=None)

df_annot_short = df_annot[[1,2,12]]

df_annot_short.columns = ['gene','transcript','annotation']

df_annot_short_tnix = df_annot_short.set_index('transcript')

In [14]:
dicT2T = dict(zip(df_bo[0],df_bo[1]))

In [23]:
def get_annotation(x):
    try:
        return df_annot_short_tnix.xs(dicT2T[x])['annotation']
    except KeyError:
        return None

df_kaks['annotationA'] = df_kaks[1].apply(lambda x : get_annotation(x))
df_kaks['annotationB'] = df_kaks[2].apply(lambda x : get_annotation(x))

In [41]:
def get_ath(x):
    try:
        return dicT2T[x]
    except KeyError:
        return None
df_kaks['ATH.A'] = df_kaks[1].apply(lambda x : get_ath(x))
df_kaks['ATH.B'] = df_kaks[2].apply(lambda x : get_ath(x))

In [42]:
df_kaks['synteny id'] = df_kaks[0].apply(lambda x : x.split('-')[0].strip())

In [43]:
df_kaks.head()

,0,1,2,3,4,5,annotationA,annotationB,synteny id,ATH.A,ATH.B
0,0- 0:,mRNA7810,mRNA23470,2.000000e-152,0.06229,0.055767,None,None,0,None,None
1,0- 1:,mRNA7811,mRNA23471,9.000000e-80,0.00000,0.000000,None,None,0,None,None
2,0- 2:,mRNA7812,mRNA23472,6.000000e-65,0.00000,0.000000,None,None,0,None,None
3,0- 3:,mRNA7813,mRNA23473,3.000000e-80,0.00000,0.000000,None,None,0,None,None
4,0- 4:,mRNA7814,mRNA23474,6.000000e-101,0.00000,0.000000,None,None,0,None,None

In [44]:
df_kaks_short = df_kaks[[1,2,3,4,5,'annotationA','annotationB','synteny id','ATH.A','ATH.B']]

In [45]:
df_kaks_short.columns = ['mRNA_A', 'mRNA_B', 'evalue', 'Ka', 'Ks', u'annotationA', u'annotationB', u'synteny id','ATH.A','ATH.B']

In [46]:
df_kaks_short_ix = df_kaks_short.set_index('synteny id')

In [47]:
df_kaks_short_ix.to_excel('kska_with_annotation.xls')